html body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* container */

.main-container {
  display: flex;
}

/* body */

.m-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.card-heading {
    background-color: whitesmoke;
    border-left: 8px solid #1e3a8a;
    border-radius: 12px;
    padding: 1rem;
    margin: 1rem;
    max-width: 84vw;
    min-height: 10rem;
}

.ikon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

.main-title, .heading-announc, .head-trend {
  font-weight: bold;
}

.main-title {
  padding-left: 1rem;
  padding-top: 1rem;
}

.your-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1 / span 2;
}

.card-an-title {
  font-weight: bold;
}

.announcment, .trending{
  border: 1px solid black;
  max-width: 24vw;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  background-color: #dbeafe;
  box-shadow: 0 4px 2px -2px gray;
}

/* Searchbar */
.profile {
  height: 2rem;
  width: 2rem;
  border-radius: 90px;
}

.leftbar input{
  border: 1px solid #bfdbfe;
  width: 35vw;
  height: 20px;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  padding-left: 1rem;
}

.searchbar {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  width: calc(100vw - 210px);
  justify-content: space-between;
}

.leftbar {
  display: flex;
  align-items: center;
}

.rightbar {
  display: flex;
  align-items: center;
}

.rightbar > .item {
  margin: 12px;
}

/* Profilebar */

.main-profile {
  height: 3rem;
  width: 3rem;
  border-radius: 90px;
}

.profilebar {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  width: calc(100vw - 210px);
  justify-content: space-between;
}

.profile-left {
  display: flex;
}

.profile-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.profile-name{
  padding-left: 1rem;
}

.myButton {
  width: 100px;
  box-shadow: none;
  background-color: rgb(145, 205, 245);
  border-radius: 20px;
  border: 1px solid #93c5fd;
  color: black;
  padding-bottom: 5px;
}

.myButton:hover {
	background-color:#60a5fa;
}

.myButton:active {
	position:relative;
	top:1px;
}

.profile-name a, .rightbar a {
  text-decoration: none;
  color: black;
}


/* Sidebar */

.sidebar {
  width: 300px;
  min-height: 100vh;
  background-color: #bfdbfe;
}

.menu {
  margin-top: 0;
  margin-left: 0;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sidebar a {
  text-decoration: none;
  color: black;
}
.sidebar ul{
  padding-left: 0.8rem;
}

.sidebar ul li {
  list-style: none;  
}

i {
  padding-right: 12px;
}

.dashboard {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 36px;
  padding-right: 2rem;
  font-size: 22px;
}

.communities {
  padding-bottom: 36px;
}


